<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Staqz Setup</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="jumbotron">
            <p>Thank you! Staqz has been initialized with the following information
                <table>
                    <tr>
                        <td>API URL: </td>
                        <td>{{ url }}</td>
                    </tr>
                        
                    <tr>
                        <td>API Key: </td>
                        <td>{{ key }}</td>
                    </tr>
                        
                    <tr>
                        <td>Watchlist: </td>
                        <td>{{ portfolio }}</td>
                    </tr>
                </table>
            </p>
        </div>
    </body>
</html>